.cloud {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 250px;
    right: -250px;
  
    background-image: url('../images/cloud.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  
    animation-name: drift;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-play-state: running;
  
    cursor: pointer;
    
    opacity: 0.75;
  }
  
  @keyframes drift {
    100% {
        transform: translate(calc(-100vw - 200px));
    }
  }
  
  @media only screen and (max-width: 900px) {
    .cloud {
      width: 150px;
      height: 150px;
      right: -150px;
    }
  }